
<div class="container">
  <!-- Card -->
  <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
    
    <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h5 class="pink-text"><i class="fa fa-briefcase"></i> Recrutement</h5>
      <h3 class="card-title pt-2"><strong>APLUS SA recrute des ingénieurs commerciaux</strong>
      </h3>
      <p>Afin d'accompagner son développement sur les marchés de l'informatique industrielle, de l'Informatique embarquée et du digital media, APLUS Système Automation recrute un ingénieur Technico-commercial Chef de produit (H/F),responsable d’une marque majeure de Switch industriel.</p>
          <ul>Mission et profil :
            <li>Gestion technique et commerciale de la marque en liaison direct avec le fabricant en Asie.</li>
            <li>Très bonne connaissance des infrastructures réseaux.</li>
            <li>3 à 5 ans d’expérience exigée.</li>
          </ul>
      <p>Merci de faire parvenir votre CV par mail.</p>
      <a class="btn btn-pink waves-light" mdbRippleRadius href="mailto:emploi@aplus-sa.com?subject=Offre%20Ingénieur%20Commercial"><i class="fa fa-envelope-square left"></i> emploi@aplus-sa.com</a>
    </div>
</div>
<!-- Content -->
</div>
<!-- Card -->
</div>
