<div class="container">
  <!--Section: Blog v.3-->
<section class="section extra-margins pb-3 text-center text-lg-left">
    
        <!--Section heading-->
        <h2 class="section-heading h1 pt-4">Actualités</h2>
        <!--Section description-->
    
        <!--Grid row-->
        <div class="row" *ngFor="let news of newsList">
    
            <!--Grid column-->
            <div class="col-lg-4 mb-4">
                <!--Featured image-->
                <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                    <img src="{{news.illustration}}" alt="First sample image">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-7 mb-4">
                <!--Excerpt-->
                <a href="" class="teal-text"><h6 class="pb-1"><i class="fa fa-cog"></i><strong> {{news.secteur}}</strong></h6></a>
                <h4 class="mb-4"><strong>{{news.titre}}</strong></h4>
                <p>{{news.content.slice(0, 200)}}...</p>
                <p>{{news.date}}</p>
                <a class="btn btn-primary waves-light" mdbRippleRadius (click)="onSelect(news)"><i class="fa fa-plus"></i></a>
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
          
    </section>
    <!--Section: Blog v.3-->
   
</div>
<div mdbModal #news="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
        <div class="modal-dialog modal-info modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="news.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100 text-center" id="myModalLabel">{{selectNews?.titre}}</h4>
                </div>
                <div class="modal-body">
                    <img src={{selectNews?.illustration}} class="img-responsive w-100">
                   <p>{{selectNews?.content}}</p> 
                </div>
                <div class="modal-footer">
                    <a>{{selectNews?.date}} - {{selectNews?.secteur}}</a>
                </div>
            </div>
        </div>
    </div>