<div class="container-fluid view hm-bluegrey-slight">
  <div class="container">
    <!--Section: Pricing v.2-->
    <section class="section pb-3">

      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-12 mb-r">

          <!-- Card -->
          <div class="card card-image" style="background-image: url('./assets/img/slide/slide-informatique.jpg');">

            <!--Pricing card-->
            <div class="text-white text-center pricing-card d-flex align-items-center rgba-blue-strong py-3 px-3">

              <!--Content-->
              <div class="card-body">
                <h5>INFORMATIQUE INDUSTRIELLE</h5>
              </div>

            </div>
            <!--Pricing card-->
          </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-3 col-md-12 mb-r">

          <!-- Card -->
          <div class="card card-image" style="background-image: url('./assets/img/slide/slide-defense.jpg');">

            <!--Pricing card-->
            <div class="text-white text-center pricing-card d-flex align-items-center rgba-green-strong py-3 px-3">

              <!--Content-->
              <div class="card-body">
                <h5>DÉFENSE &
                  <br> SÉCURITÉ</h5>
              </div>

            </div>
            <!--Pricing card-->
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-12 mb-r">

          <!-- Card -->
          <div class="card card-image" style="background-image: url('./assets/img/slide/slide-digital.jpg');">

            <!--Pricing card-->
            <div class="text-white text-center pricing-card d-flex align-items-center rgba-orange-strong py-3 px-3">

              <!--Content-->
              <div class="card-body">
                <h5>DIGITAL
                  <br>MÉDIA</h5>
              </div>

            </div>
            <!--Pricing card-->
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-12 mb-r">

          <!-- Card -->
          <div class="card card-image" style="background-image: url('./assets/img/slide/slide-pos.jpg');">

            <!--Pricing card-->
            <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3">

              <!--Content-->
              <div class="card-body">
                <h5>POINT
                  <br>DE VENTE</h5>
              </div>

            </div>
            <!--Pricing card-->
          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

    </section>
    <!--Section: Pricing v.2-->
    <div class="row jumbotron">
      <div class="col-lg-6">
        <!--Section heading-->
        <!--  <img src="./assets/img/enseigne01.png" alt="APLUS picto logo" class="d-block mx-auto" width="250px">-->
        <!--Section description-->
        <div class="section-description">
          <span style="font-size:1.5em;" class="font-weight-bold">Les solutions d'un Leader</span>
          <hr>
          <br>
          <strong>Fabricant, Concepteur et Distributeur français depuis 1988, nous sommes reconnus comme un des leaders français
            des secteurs de l’ « informatique industrielle » mais aussi dans trois autres divisions comme la « Défense &
            Sécurité » , « Digital Média » et l’ « Affichage Tactile, Terminal Point de vente & Périphériques ».</strong>
          <br> A l’affût de solutions sur mesure pour nos clients, nous présentons de vraies garanties allant de la livraison,
          l’installation, une maintenance forfaitaire en passant par la supervision, des dizaines de gammes, des centaines
          de références, des dizaines de milliers de produits en stock… Ne cherchez plus, vous êtes chez le spécialiste !</div>
      </div>
      <div class="col-lg-6 pt-5">
        <video class="img-fluid mt-5" autoplay loop poster="./assets/img/enseigne-aplus.jpg">
          <source src="./assets/video/video.mp4" type="video/mp4" />
          <source src="./assets/video/video.webm" type="video/webm" />
          <source src="./assets/video/video.ogg" type="video/ogg" />
        </video>
      </div>
    </div>
    <div class="row jumbotron">
      <!--Section: Magazine v.2-->
      <div class="col-lg-8 mx-auto">
        <section class="section mx-auto magazine-section h-70" style="overflow-y:scroll;max-height:500px">

          <!--Grid row-->
          <div class="row text-left mx-auto">

            <!--Grid column-->
            <div class="col-lg-6 col-md-12">

              <!--Featured news-->
              <div class="single-news" [routerLink]="['/news']">

                <!--Image-->
                <div mdbRippleRadius class="view overlay hm-white-slight waves-light">
                  <img src="{{newsList[0]?.illustration}}" alt="Wider sample post image">
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>

                <!--Excerpt-->
                <div class="news-data">
                  <a href="" class="deep-orange-text">
                    <h6>
                      <i class="fa fa-newspaper-o"></i>
                      <strong> Actualités</strong>
                    </h6>
                  </a>
                  <p>
                    <strong>
                      <i class="fa fa-clock-o"></i> {{newsList[0]?.date}}</strong>
                  </p>
                </div>

                <h4>
                  <a>
                    <strong>{{newsList[0]?.titre}}</strong>
                  </a>
                </h4>

                <p align="justify">{{newsList[0]?.content.slice(0, 150)}}...
                </p>

              </div>
              <!--/Featured news-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 hidden-md-down">

              <!--Small news-->
              <div class="single-news" *ngFor="let news of newsList">

                <div class="row" [routerLink]="['/news']">
                  <div class="col-md-3">

                    <!--Image-->
                    <div mdbRippleRadius class="view overlay hm-white-slight waves-light">
                      <img src="{{news.vignette}}" alt="Minor sample post image">
                      <a>
                        <div class="mask"></div>
                      </a>
                    </div>
                  </div>

                  <!--Excerpt-->
                  <div class="col-md-9">
                    <p>
                      <strong>{{news.date}}</strong>
                    </p>
                    <a>{{news.resume.slice(0,100)}}...
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>

                </div>
              </div>
              <!--/Small news-->

              <!--Small news-->

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </section>
      </div>
      <div class="col-lg-4">
        <!--Section: Features v.2-->
        <section class="section feature-box">
          <!--Grid row-->
          <div class="row features-small jumbotron">

            <!--Grid column-->
            <div class="col-md-12 mb-r">
              <div class="col-1 col-md-2 float-left">
                <i class="fa fa-bullhorn blue-grey-text"></i>
              </div>
              <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="feature-title">Conception</h4>
                <a class="btn btn-primary btn-sm ml-0 waves-light" [routerLink]="['/competence']" mdbRippleRadius>Learn more</a>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-12 mb-r">
              <div class="col-1 col-md-2 float-left">
                <i class="fa fa-cogs blue-grey-text"></i>
              </div>
              <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="feature-title">Production</h4>
                <a class="btn btn-success btn-sm ml-0 waves-light" [routerLink]="['/competence']" mdbRippleRadius>Learn more</a>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-12 mb-r">
              <div class="col-1 col-md-2 float-left">
                <i class="fa fa-dashboard blue-grey-text"></i>
              </div>
              <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="feature-title">Services</h4>
                <a class="btn btn-warning btn-sm ml-0 waves-light" [routerLink]="['/competence']" mdbRippleRadius>Learn more</a>
              </div>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </section>
        <!--Section: Features v.2-->

      </div>
      <!--Section: Magazine v.2-->
    </div>
    <!--Section: Features v.3-->

    <!--Section: Features v.3-->
  </div>

</div>
