.container {
  margin-top: 50px;
  padding-bottom: 100px;
}

p {
  text-align: justify;
}

video {
  border-top: 5px solid #f89829;
  border-top-left-radius: 2em;
  border-bottom: 5px solid #b4dc95;
  border-bottom-right-radius: 2em;
  border-left: 2px solid #0079c2;
  border-top-left-radius: 2em;
  border-right: 2px solid #0079c2;
  border-bottom-right-radius: 2em;
}
